<h1> END POINTS </h1>
<ul>
  <li> POST "/login" with valid username and password credentials will generate a new user session</li>
  <li> GET "/logout" will logout the current user</li>
  <li> GET "/user/[int:id]" will return a user's information by id</li>
  <li> GET "/users/" will return information on all users in the db </li>
  <li> GET "/userinfo" will return information on the currently logged in user </li>

  <hr>

  <li> GET "/professors" will return a list of all professors </li>
  <li> GET "/dinners" will return a list of all dinners </li>
  <li> GET "/students" will return a list of all students </li>
  <li> GET "/professor/[string:uniqueID]" will return a specific professor by Unique ID</li>
  <li> GET "/student/[string:netID]" will return a specific student by netID </li>
  <li> GET "/dinner/[int:id]" will return a specific dinner by id </li>
  <li> GET "/dinner/selective?id=[userID]&status=[status]" will return all dinners with a specific status code. 0 indicates unclaimed, 1 is claimed, 2 is finished. User ID refers to all the dinner's of a specific user </li>
  <li> GET "/dinner/confirm/[int:id]" will set a dinner's status to complete and will EMAIL ALL ACCEPTED APPLICATIONS </li>

  <hr>

  <li> POST "/application/register" will add a new application to the database </li>
  <ul>
    <li> "interest": String </li>
    <li> "studentID": String (FK) </li>
    <li> "dinnerID": String (FK) </li>
  </ul>

  <li> POST "/application/update" will bulk update many application statuses simultaneously</li>
  <p> This endpoint accepts a dict where keywords (Strings) are the ids of the applications and entries (ints) are their new statuses </p>

  <li> POST "/application/checkin" will bulk update many applicatio, marking them as present</li>
  <p> This application accepts an array of applicaiton numbers given under the keyword "present" </p>
  
  <li> POST "/professor/register" will create a new professor object in memory </li>
  <ul>
    <li> "uniqueID": String </li>
    <li> "firstName": String </li>
    <li> "lastName": String </li>
    <li> "email": String </li>
    <li> "genderPronouns": Integer </li>
    <li> "department": Integer </li>
    <li> "title": String </li>
    <li> "school": Integer </li>
  </ul>

  <li> POST "/dinner/register" will create a new professor object in memory </li>
  <ul>
    <li> "timeStamp": String </li>
    <li> "topic": String </li>
    <li> "description": String </li>
    <li> "studentLimit": Int </li>
    <li> "address": String </li>
    <li> "dietaryRestrictions": String </li>
    <li> "professorID": String </li>
  </ul>

  <li> POST "/student/register" will create a new professor object in memory </li>
  <ul>
    <li> "netID": String </li>
    <li> "uniqueID": String </li>
    <li> "firstName": String </li>
    <li> "lastName": String </li>
    <li> "genderPronouns": Int </li>
    <li> "phoneNumber": String </li>
    <li> "major": Int </li>
    <li> "graduationYear": Int </li>
  </ul>

  <hr>

  <li> PUT "/professor/[ID]" will update a new professor object in memory </li>
  <ul>
    <li> "firstName": String </li>
    <li> "lastName": String </li>
    <li> "email": String </li>
    <li> "genderPronouns": Integer </li>
    <li> "department": Integer </li>
    <li> "title": Integer </li>
    <li> "school": Integer </li>
  </ul>


  <li> PUT "/dinner/[ID]" will update a dinner object in memory </li>
  <ul>
    <li> "timeStamp": String </li>
    <li> "topic": String </li>
    <li> "description": String </li>
    <li> "studentLimit": Int </li>
    <li> "address": String </li>
    <li> "dietaryRestrictions": String </li>
    <li> "professorID": String </li>
    <li> "catering": Bool </li>
    <li> "transportation": Bool </li>
    <li> "invitationSentTimeStamp": String </li>
    <li> "userID": int </li>
  </ul>

  <li> PUT "/student/[ID]" will update a  student object in memory </li>
  <ul>
    <li> "uniqueID": String </li>
    <li> "firstName": String </li>
    <li> "lastName": String </li>
    <li> "genderPronouns": Int </li>
    <li> "phoneNumber": String </li>
    <li> "major": Int </li>
    <li> "graduationYear": Int </li>
    <li> "numberApplications": Int </li>
    <li> "numberSelections": Int </li>
    <li> "numberApplicationsSemester": Int </li>
    <li> "numberSelectionsSemester": Int </li>
  </ul>


</ul>
